<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-screen h-screen bg-zinc-600 "  >
        
        <h1 class="text-center text-2xl text-white py-[2vw]" >
            product details
        </h1>
        <div class="w-[100%] h-[50%]  flex items-center  justify-between px-[6vw] " >
<div class="w-[20%] h-[90%]  ">
<img class="w-full h-full " src="" alt="">
</div  >
<div class="bg-red-300 w-[60%] ">
<h1 class="text-center" >hello</h1>
<li>aevev</li>
<li>vevc</li>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eveniet porro doloribus ipsam aspernatur quibusdam quidem magni. Placeat distinctio iste maxime! Reprehenderit dolorum ipsum beatae!</p>
</div>

        </div>
    
    
    
    </div>
    
</body>
</html>